#board {
    display: flex;
    flex-direction: row;
    margin: 12px;
    padding: 12px;
    height: 100%;
    overflow-x: scroll;
    background-color: rgb(238, 238, 238);
}

section {
    display: flex;
    flex-direction: column;
    margin: 12px;
    min-width: 300px;
    max-height: 80vh;
    overflow-y: scroll;
}
section.over { background-color: lightblue; } 
section.over * {
  /* prevent the elements in the section messing up the drag events */
  pointer-events: none;
}

.title, .card {
    margin: 12px;
    padding: 16px;
    background-color: lightgray
}
.card p:first-of-type { margin-bottom: 12px; }
.card:hover { cursor: move; }
